#elementor-icon {
    background-color: #1db4cf;
}

.elementor-widget-container1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* Hace el div circular */
    overflow: hidden;
    /* Oculta lo que sobresalga */
    display: flex;
    /* Centrado de la imagen */
    align-items: center;
    justify-content: center;
}

#ahhimg {
    max-width: 100%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen sin deformarla */
}

#ahhimg1{
    display: flex;
    justify-content: center;
    align-items: center;
}